.block{
  color: rgb(255, 17, 64);
  font-family: "Jersey 10", serif;
  margin-top: 120px;
  max-width: 900px;
  margin-left: 350px;
}

footer{
  background-color: darkblue;
  display: flex;
  justify-content: center;
}

.Image2 {
  display: block;
  max-width: 40%;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
  text-align: center;
}

.carousel-inner {
  max-height: 850px;
  overflow: hidden;
}

.carousel-item img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}